<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://nlog.schneider-it.com/nlog"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://nlog.schneider-it.com/nlog http://nlog.schneider-it.com/schemas/NLog.xsd"
      internalLogFile="/app/log/internal-nlog.txt" internalLogLevel="Trace">

	<variable name="logLayout" value="${longdate} | ${level} | ${logger} | ${message} ${exception}" />

	<targets>
		<target xsi:type="File" name="fileLog"
				fileName="/app/log/app.log"
				archiveFileName="/app/log/archive/app.{#}.log"
				archiveEvery="Day"
				maxArchiveFiles="7"
				layout="${logLayout}" />

		<target xsi:type="Console" name="console" layout="${logLayout}" />
	</targets>

	<rules>
		<logger name="*" minlevel="Info" writeTo="fileLog" />
		<logger name="*" minlevel="Info" writeTo="console" />
	</rules>
</nlog>
